<mat-card *ngIf="assignmentTransmis; else aucunAssignmentTransmis" class="assignCard">
    <mat-card-content>
        <mat-card-title [appRendu]="assignmentTransmis.rendu">
            {{ assignmentTransmis.nom }}
        </mat-card-title>
        <mat-card-subtitle>
            Devoir à rendre le : {{ assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy' }}
        </mat-card-subtitle>
        <div class="actions">
            <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
                Devoir rendu
            </mat-checkbox>
            <button mat-stroked-button class="updateButton" (click)="onClickEdit()" [disabled]="!isAdmin()">
                Editer
            </button>
            <button mat-flat-button class="deleteButton" (click)="onSupprimerAssignment()" [disabled]="!isAdmin()">
                Supprimer
            </button>
        </div>
    </mat-card-content>
</mat-card>
<ng-template #aucunAssignmentTransmis>
    Aucun devoir sélectionné
</ng-template>