<mat-card *ngIf="assignmentTransmis; else aucunAssignmentTransmis">
    <mat-card-content>
        <mat-card-title [appRendu]="assignmentTransmis.rendu">
            {{ assignmentTransmis.nom }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ assignmentTransmis.dateDeRendu | date: 'dd/MM/yyyy' }}
        </mat-card-subtitle>
        <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
            Devoir rendu
        </mat-checkbox>
        <!-- <nav><a [routerLink]="['/assignment', assignmentTransmis.id, 'edit']">
            <button mat-stroked-button color="primary" >
                Edit
            </button>
        </a></nav> -->
        <button mat-stroked-button color="primary" (click)="onClickEdit()" [disabled]="!isAdmin()">
            Edit
        </button>
        <button mat-flat-button color="warn" [ngStyle]="{'margin-left': '10px'}" (click)="onSupprimerAssignment()" [disabled]="!isAdmin()">
            Supprimer
        </button>
    </mat-card-content>
</mat-card>
<ng-template #aucunAssignmentTransmis>
    Aucun devoir sélectionné
</ng-template>