.container {
    display: flex;
    flex-direction: column;
}

.ajouterBtn {
    color:#eee;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 10px;

    .addButton {
        background-color:forestgreen;
        color: white;
    }
}