<mat-toolbar color="primary" class="toolBar">
    <button mat-mini-fab color="primary" aria-label="Toogle sidenav" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button aria-label="Go to home" routerLink="/home">
        <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>
        <h2> {{ title }} </h2>
    </span>
    <span class="example-spacer"></span>
        <a href="#" (click)="onChangeToggleLogin($event)" style="color:white">
        {{ authService.loggedIn? isNotLoggedLabel: isLoggedLabael }}
        <button mat-icon-button class="" aria-label="login">
            <mat-icon>person</mat-icon>
        </button>
    </a>
</mat-toolbar>

<mat-drawer-container hasBackdrop="false">
    <mat-drawer #drawer [mode]="'side'" id="mat-drawner-elements">
        <button mat-button aria-label="Voir les devoirs" matTooltip="Liste des devoirs" routerLink="/home">
            <mat-icon>dns</mat-icon>
            <span>Liste des devoirs</span>
        </button>
        <button mat-button aria-label="ajout devoir" matTooltip="Ajout d'un devoir" routerLink="add">
            <mat-icon>add_to_photos</mat-icon>
            <span>Ajout d'un devoir</span>
        </button>
        <button mat-button aria-label="modifier devoir" matTooltip="Modification d'un devoir" routerLink="#">
            <mat-icon>edit</mat-icon>
            <span>Modification d'un devoir</span>
        </button>
        <button mat-button aria-label="supprmer devoir" matTooltip="Suppression d'un devoir" routerLink="#">
            <mat-icon>delete_forever</mat-icon>
            <span>Suppression d'un devoir</span>
        </button>
        <button mat-button aria-label="génerer donnée de test" matTooltip="Génération de donnée de tests"
            routerLink="#">
            <mat-icon>description</mat-icon>
            <span>Génération de tests</span>
        </button>

    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>